<html>
<head>
    <title>BSM Web</title>
    <meta charset="utf-8">
    <style>
        input { min-height: 1.8em; } 
        body { padding-top: 50px; }
    </style> 
    <link href="//bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet"/>
</head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BSM Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/sample">Samples</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/sequencingcenter">Sequencing Centers</a></li>
        </ul>
      </div>
    </div>
    <br><br>
    <div align="center">
      <form type="get" action="." style="margin: 0">
        <input  id="search_input" type="text" name="search_box"  placeholder="Search models..." >
        <button id="search_submit" type="submit" >Search</button>
      </form>
    </div>
    <br><br>
    <div class="container">
      <div class="hero-unit">
        {% block BSCT_MAIN %}
        {% endblock %}
      </div>
    </div>
  <hr>
  
</body>
<br><br><br><br>
<div align="center">
  <p>&copy; Scott Ouellette 2016 </p>
</div>
</html>
